<!DOCTYPE html>
<html>
<head>
  <title>Pear</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav>
      <ul>
      <% if @user && current_user %>
        <li><h2><%= link_to 'Sign out', signout_path, method: :delete%> </h2></li>
      <% else %>
        <li><h2><%=link_to "Sign in with Twitter", "/auth/twitter"%></h2></li>
      <% end %>
    </nav>
  </header>

<%= yield %>

</body>
</html>
